* {
    box-sizing: border-box;
    margin: 0;
}


.header{
    display: block
}

a:hover {
    color: #1e30f3;
}


.bg-gradient-primary-to-secondary, .card.game, .menu-jogos {
  background: #1e30f3;
  background: linear-gradient(135deg, #008834 0%, #FEDD00 50%, #002e9b 100%);
}

.text-gradient, .navbar-brand:hover, .nav-link:hover {
  background: -webkit-linear-gradient(315deg, #008834 0%, #FEDD00 50%, #002e9b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
}

.profile {
  position: relative;
  height: 75vw;
  width: 75vw;
  border-radius: 5vw;
  margin-top: 5vw;
  max-height: 40rem;
  max-width: 40rem;
}
.profile .profile-img {
  height: 80vw;
  max-height: 45rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 575.98px) {
  .profile.login {    
    height: 75vh;
    width: 75vw;    
  }
}

.menu-jogos {  
  border-radius: 12px;
  padding: 5px;
  margin-top: 20px;   
}

.menu-jogos h2 {
 margin: 30px;
}

.menu-jogos span, p {
  margin: 0 20px 0 30px;
}

.menu-jogos h2, p {
  color: white;
  width: 50%;
}

.menu-jogos span {
  color: greenyellow;
  font-weight: 400;
  margin: 0;
}
